* {
    font-size: 16px;
    -webkit-text-size-adjust: none;
}

body,
h1,
h2,
h4,
p{
    margin: 0;
    padding: 0;
}

header {
    padding: 20px;
    display: inline-block;
    border: 1px dotted #000;
}

em {
    margin-right: 14px;
    font-style: normal;
    font-weight: 700;
}

.part1,
.part2,
.part3,
.part4,
.part5 {
    zoom: 1;
    border: 1px solid #eaeaea;
}

.part1:after,
.part2:after,
.part3:after,
.part4:after,
.part5:after {
    content: " ";
    display: block;
    clear: both;
    height: 0;
}

.part1 p,
.part2 p {
    display: inline-block;
    margin-right: 40px;
}

.part3 h4,
.part4 h4,
.part5 h4 {
    float: left;
}

.header {
    box-sizing: border-box;
    width: 100%;
    padding: 16px;
    background-color: #858585;
}

.header h1 {
    color: #fff;
}

.main h2 {
    float: left;
    box-sizing: border-box;
    height: 120px;
    line-height: 120px;
    width: 100px;
    text-align: center;
    background-color: #d6d6d6;
}

.section-box {
    padding: 10px;
    margin-left: 110px;
}